<!doctype html>
<html>
    <head>
        <title>Hackify</title>
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
        <style>
            .card{
            background-color:rgb(25,25,29)
            }
        </style>
    </head>
    <body style="background-color:#19191d;">
        <!--************                          Navbar component                *********t**********-->
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="/">Hackify</a>
                <div class="">
                    {% if isLogin == '' %}
                    <a href="/login"> <button class="btn btn-outline-success" type="submit">Login</button></a>
                    <a href="/signup"> <button class="btn btn-outline-success" type="submit">Signup</button> </a>
                    {% else %}
                    <a href="/logout"> <button class="btn btn-outline-success" type="submit"> Logout</button> </a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <!--***********************************************                 hero section ****************************************************-->
        <section class=" py-5 py-xl-8 py-xxl-18 h-100 text-white" style="height:100vh; background-color:black">
            <div class="container border-warning overflow-hidden">
                <div class="row gy-5 gy-lg-0">
                    <div class>
                        <h1 class="display-3 fw-bold mb-3">Hackify</h1>
                        <p class="fs-4 mb-5">Are you ready to unleash your creativity and problem-solving skills? Our Hackathon Hosting Website is your
                            platform to participate in exciting hackathons, showcase your talents, and collaborate with like-minded
                            individuals from around the world. Whether you are an experienced developer, designer, or just someone
                            passionate about technology, our hackathons offer you a chance to tackle real-world challenges, build
                            innovative solutions, and network with industry experts and mentors.
                        </p>
                        <div class="d-grid gap-2 d-sm-flex">
                            <a href="/hackathons">
                            <button class="btn btn-primary btn-2xl rounded-pill px-4" type="button">Get Started</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--**********************************************  features section ******************************-->

        <!--**********************************************  features section ******************************-->
        <section>
            <div class="container ">
                <div class="row justify-content-center w-full text-white text-center p-2 mx-auto my-3">
                    <h1>Features</h1>
                </div>
                <div class="row my-2 mb-4">
                    <div class="col ">
                        <div class="cardd card border-primary  mb-3" style="max-width: 18rem;">
                            <div class="card-header text-white">Remote Participation</div>
                            <div class="card-body text-primary">
                                <p class="card-text">Join hackathons from anywhere in the world. No travel required!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="cardd card border-danger mb-3" style="max-width: 18rem;">
                            <div class="card-header text-white">Expert Mentors</div>
                            <div class="card-body text-danger">
                                <p class="card-text">Get guidance and support from industry experts and mentors.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="cardd card border-success mb-3" style="max-width: 18rem;">
                            <div class="card-header text-white">Creative Challenges</div>
                            <div class="card-body text-success">
                                <p class="card-text">Participate in exciting and challenging hackathon projects.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>